* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    background: linear-gradient(to left, #33BBFF, #00FF6C);
}

.calculator-grid {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
    font-size: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.20 );
    border-radius: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.70);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: rgba(255, 255, 255, 0.82);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .70rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .prev-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .curr-operand {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
}